# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders (if any)
env/
venv/
ENV/
.venv/
myenv

# Ignore the temp folder that contains uploaded files and Spleeter outputs
temp/

# Ignore pretrained models folder (adjust the folder name if needed)
pretrained_models/
seperated/
